[include]
	path = ~/.gitconfig_personal
[alias]
	st = status
	ci = commit 
	cia = commit --amend
	ciane = commit --amend --no-edit
	pom = push -u origin master
	cim = commit -m
	diffc = diff --cached
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
