[include]
	path = ~/.gitconfig_personal
[alias]
	st = status
	ci = commit 
	cia = commit --amend
	ciane = commit --amend --no-edit
	pom = push -u origin master
	cim = commit -m
	diffc = diff --cached
	lg = log --pretty=oneline --abbrev-commit
	local = log origin/master..HEAD --pretty=oneline
	showname = show --name-only
	update-remote-branches = remote prune origin
	urb = remote prune origin
	pr = pull --rebase 
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
